body,
html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* animation  */

.animation {
  width: 100%;
  height: 88%;
  position: absolute;
  top: 84.5px;
  left: 0;
  z-index: -2;
  overflow: hidden;
}
.animation_obj {
  width: 15px;
  height: 15px;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  /* animation-play-state: paused; */
  z-index: 2;
}

@keyframes snow_falling {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    transform: translate(120px, 120vh);
  }
}
@keyframes raining {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    transform: translate(120px, 120vh);
  }
}

@keyframes clouding {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0.6;
    transform: translate(-120vw, 0);
  }
}
/* end animation  */

.App.night {
  background-color: rgba(17, 85, 116, 1);
}
.App.day {
  background-color: rgba(117, 164, 186, 0.8);
}

/* form  */

form {
  display: flex;
  width: 100%;
  max-width: 375px;
  z-index: 1000;
}
.search_input,
.search_btn {
  width: 70%;
  border-radius: 50px;
  padding: 1rem;
  margin: 1rem;
  border: none;
  font-size: 0.9rem;
  border: 2px solid rgb(115, 160, 172);
  border: 2px solid rgb(108, 138, 17);
  background-color: transparent;
}
.day .search_input::placeholder,
.day input:focus,
.day input {
  color: rgba(83, 106, 13, 1);
  letter-spacing: 0.5px;
}
.night .search_input::placeholder,
.night input:focus,
.night input {
  color: rgb(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
}

.search_btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgb(230, 113, 127);
  background-color: rgb(108, 138, 17);
  border-radius: 50px;
  color: white;
  margin-left: 0;
}
button:hover {
  cursor: pointer;
}

/* end form  */

/* WEATHER RESULTS  */

.weather_results {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(25, 6, 91);
  background-color: rgba(5, 69, 98, 1);
  background-color: rgba(10, 127, 181, 1);
  box-shadow: 8px 8px 12px rgba(105, 126, 132, 0.6);
  border-radius: 5px;
  background-image: url("./assets/sunsetsunrise@2x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.weather_results.desktop {
  max-width: 375px;
  margin: 1.5rem;
  height: 698px;
  height: 844px;
}
.weather_results.day.desktop {
  background-size: contain;
}
.weather_results.night.desktop {
  background-size: contain;
}
.weather_results.day {
  background-color: rgba(10, 127, 181, 1);
  background: linear-gradient(#3f88ba, #c8d4d5);
  box-shadow: 8px 8px 12px rgb(129, 143, 150);
  background-size: cover;
  background-repeat: no-repeat;
}
.weather_results.night {
  background-color: rgba(5, 69, 98, 1);
  box-shadow: 8px 8px 12px rgb(11, 57, 78);
  background-image: url("./assets/night.png");
}
.weather_results--header {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

/* weather results top  */

.weather_results--header.top {
  height: 85%;
  border-bottom: none;
  padding-top: 2rem;
}

.weather_results--header.top .city_name,
.weather_results--header.top .weather_temperature {
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.weather_results--header.top .city_name {
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
}

.weather_results--header.top .weather_temperature {
  margin: 0;
  padding: 0;
}

.weather_results--header.top .weather_image {
  height: 90px;
  padding-bottom: 0.5rem;
}

.weather_results--header.top .weather_description {
  color: white;
  font-weight: light;
  letter-spacing: 0.5px;
  padding: 0.5rem;
}

/* end weather results top  */

/* weather results bottom  */

.weather_results--header.bottom {
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  position: relative;
}

.winter_rabbit {
  width: 375px;
  position: absolute;
  bottom: -38px;
  left: 0;
}

.weather_results--header.bottom .box {
  width: 40%;
  height: 80px;
  border: 1px solid white;
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
  flex-direction: column;
  margin: 0.25rem 0;
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.weather_results--header.bottom .box > div {
  display: flex;
  justify-content: center;
}

.weather_results--header.bottom .box .box-name,
.weather_results--body .box > div .box-name {
  margin-left: 0.25rem;
}

.weather_results--header.bottom .box .box-name,
.weather_results--header.bottom .box .box-value {
  font-weight: bold;
  color: white;
}
.weather_results--header.bottom .box .box-value {
  margin-left: 1.25rem;
}

/* end weather results bottom  */

/* weather results body  */

.weather_results--body {
  height: 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(80px, auto);
  gap: 0.5rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("./assets/frozen_bg.png");
}

.weather_results--body .box {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1;
}

.weather_results--body .box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather_results--body .box:first-child {
  align-self: center;
}

.weather_results--body .box:nth-child(2) {
  grid-row: 2;
}

.weather_results--body .box:nth-child(3) {
  grid-column: 2/2;
  grid-row: 1/3;
  position: relative;
  align-self: center;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.weather_results--body .box .box-name {
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.75);
}

.weather_results--body .box .box-value {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  padding: 0.25rem;
}
.pressure_icon {
  width: 110px;
  padding: 0.5rem;
}

/* end weather results body  */

/* END WEATHER RESULTS  */
